<div class="container text-center m-5">
    <p>
        <h1>Upload unlimited images </h1>
        <h2>Register your account</h2>
        <h2><a href="/register">Register</a></h2>
        <h2>If already account then login</h2>
        <h2><a href="/login">Login</a></h2>
    </p>
</div>